<div class='url_shorten'>
  <form name='enter_url' action="/urls" method='post'>
    <div class="input">
      <label> URL: </label><input id="long_url" type='text' name='long_url' placeholder="Enter a url... I'll make it Too $hort">
      <input class="button" type='submit' value='Too Short!'><br>
    </div>

    <h1>Too $hort will make your shit shorter.</h1>
    <img src="img/too_short.jpeg" alt="Too Short" height="281" width="179">
    <br>
  </form>
</div>
