<div class='container'>

 <%= erb :form %>

 <h2>Here is a list of your Too $hortened urls...</h2>
 <ul>
    <% @urls.each do |url| %>
        <li> <%= url.long_url %>:  <a href="<%= url.long_url %>"/> <%= url.short_url %> </li>
    <% end %>
  </ul>

</div>
